h2{color:#ff6a00}
.noiDungGT{
    text-align:center;background-color:#ff0000;color:#b6ff00;width:500px;margin:50px 100px auto;padding:10px
}
.autoStyle{
    width:600px;
    border:1px solid #4cff00;
    margin: 100px auto
}